In [1]:
import pandas as pd
import numpy as np

In [2]:
sales = pd.read_csv("AdidasUSSalesData.csv") # import dataframe
sales.columns = sales.columns.str.replace(" ", "") # delete spaces

FileNotFoundError: [Errno 2] No such file or directory: 'AdidasUSSalesData.csv'

In [ ]:
sales # display for testing

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,1/1/2020,Northeast,Pennsylvania,Philadelphia,Women's Apparel,$53.00,83,"$4,399","$1,408",32%,Outlet
1,Foot Locker,1185732,1/1/2020,Northeast,Pennsylvania,Philadelphia,Women's Apparel,$68.00,83,"$5,644","$2,427",43%,Online
2,Foot Locker,1185732,1/1/2020,Northeast,New York,New York,Men's Street Footwear,$34.00,384,"$13,056","$6,789",52%,Outlet
3,Foot Locker,1185732,1/1/2020,Northeast,New York,New York,Men's Street Footwear,$47.00,336,"$15,792","$9,633",61%,Online
4,Foot Locker,1185732,1/1/2020,Northeast,Pennsylvania,Philadelphia,Women's Apparel,$75.00,275,"$206,250","$61,875",30%,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,12/31/2021,Northeast,Pennsylvania,Philadelphia,Men's Apparel,$46.00,56,"$2,576","$1,005",39%,Outlet
9644,Foot Locker,1185732,12/31/2021,Northeast,Pennsylvania,Philadelphia,Men's Apparel,$63.00,47,"$2,961","$1,362",46%,Online
9645,Amazon,1185732,12/31/2021,Northeast,Maine,Portland,Men's Apparel,$55.00,125,"$68,750","$17,188",25%,Outlet
9646,Foot Locker,1185732,12/31/2021,Northeast,Pennsylvania,Philadelphia,Men's Apparel,$70.00,175,"$122,500","$42,875",35%,Outlet
9647,Foot Locker,1185732,NaN,Northeast,Connecticut,Hartford,Women's Apparel,$26.00,72,"$1,872",NaN,47%,Outlet

In [ ]:
sales.info() # collect info on datatypes and null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9647 non-null   object
 3   Region            9643 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9644 non-null   object
 8   Units Sold        9645 non-null   object
 9   Total Sales       9638 non-null   object
 10  Operating Profit  9635 non-null   object
 11  Operating Margin  9648 non-null   object
 12  Sales Method      9648 non-null   object
dtypes: int64(1), object(12)
memory usage: 980.0+ KB

In [31]:
sales

,Retailer,RetailerID,InvoiceDate,Region,State,City,Product,PriceperUnit,UnitsSold,TotalSales,OperatingProfit,OperatingMargin,SalesMethod
0,Foot Locker,1185732,1/1/2020,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53.0,83.0,4399.0,1408.0,0.32,Outlet
1,Foot Locker,1185732,1/1/2020,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68.0,83.0,5644.0,2427.0,0.43,Online
2,Foot Locker,1185732,1/1/2020,Northeast,New York,New York,Men's Street Footwear,34.0,384.0,13056.0,6789.0,0.52,Outlet
3,Foot Locker,1185732,1/1/2020,Northeast,New York,New York,Men's Street Footwear,47.0,336.0,15792.0,9633.0,0.61,Online
4,Foot Locker,1185732,1/1/2020,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75.0,275.0,206250.0,61875.0,0.30,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,12/31/2021,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46.0,56.0,2576.0,1005.0,0.39,Outlet
9644,Foot Locker,1185732,12/31/2021,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63.0,47.0,2961.0,1362.0,0.46,Online
9645,Amazon,1185732,12/31/2021,Northeast,Maine,Portland,Men's Apparel,55.0,125.0,68750.0,17188.0,0.25,Outlet
9646,Foot Locker,1185732,12/31/2021,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70.0,175.0,122500.0,42875.0,0.35,Outlet
9647,Foot Locker,1185732,NaN,Northeast,Connecticut,Hartford,Women's Apparel,26.0,72.0,1872.0,NaN,0.47,Outlet

In [35]:
sales.iloc[6724]

Retailer           Sports Direct
RetailerID               1197831
InvoiceDate            8/23/2021
Region                     South
State                    Alabama
City                  Birmingham
Product            Men's Apparel
PriceperUnit                25.0
UnitsSold                 2750.0
TotalSales               68750.0
OperatingProfit          27500.0
OperatingMargin              0.4
SalesMethod               Outlet
Name: 6724, dtype: object

In [9]:
# View null rows
null_rows = sales[sales.isna().any(axis=1)]
null_rows

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
485,West Gear,1185732,4/24/2020,Southeast,Florida,Miami,Men's Apparel,$55.00,NaN,"$371,250","$129,938",35%,In-store
954,Walmart,1197831,9/9/2020,South,Texas,Houston,Men's Apparel,NaN,625,"$281,250","$84,375",30%,Outlet
984,Walmart,1197831,9/15/2020,South,Texas,Houston,Men's Apparel,NaN,575,"$258,750","$77,625",30%,Outlet
1558,West Gear,1185732,1/12/2021,Southeast,Florida,Orlando,Men's Apparel,NaN,550,"$302,500","$105,875",35%,In-store
1898,Foot Locker,1128299,1/24/2021,West,Wyoming,Cheyenne,Men's Apparel,$42.00,45,"$1,890",NaN,51%,Online
2076,Sports Direct,1185732,2/5/2021,Northeast,New Jersey,Newark,Women's Street Footwear,$29.00,65,"$1,885",NaN,45%,Online
2168,Sports Direct,1185732,2/9/2021,NaN,South Dakota,Sioux Falls,Women's Street Footwear,$24.00,68,"$1,632",$685,42%,Online
2228,West Gear,1185732,2/11/2021,Midwest,Missouri,St. Louis,Women's Street Footwear,$14.00,115,NaN,$725,45%,Online
2261,Amazon,1185732,2/12/2021,Northeast,Vermont,Burlington,Women's Athletic Footwear,$36.00,45,NaN,$745,46%,Online
2705,Sports Direct,1185732,3/3/2021,NaN,Connecticut,Hartford,Men's Apparel,$48.00,39,"$1,872",NaN,40%,Online
2980,Sports Direct,1185732,3/13/2021,Northeast,Massachusetts,Boston,Men's Athletic Footwear,$31.00,61,"$1,891",NaN,34%,Outlet
3193,West Gear,1185732,3/20/2021,Northeast,Maryland,Baltimore,Women's Apparel,$33.00,49,NaN,$728,45%,Online
3382,Sports Direct,1185732,4/4/2021,Northeast,Connecticut,Hartford,Men's Apparel,$46.00,35,NaN,$725,45%,Online
3621,Foot Locker,1185732,4/12/2021,NaN,South Dakota,Sioux Falls,Men's Athletic Footwear,$39.00,42,"$1,638",$672,41%,Online
3680,Sports Direct,1185732,4/14/2021,Northeast,Massachusetts,Boston,Men's Apparel,$49.00,33,NaN,$614,38%,Online
4105,West Gear,1185732,5/4/2021,Midwest,Wisconsin,Milwaukee,Women's Street Footwear,$33.00,49,NaN,$728,45%,Online
4250,Sports Direct,1185732,5/10/2021,Midwest,North Dakota,Fargo,Women's Street Footwear,$37.00,51,"$1,887",NaN,43%,Online
4554,Foot Locker,1185732,5/19/2021,Midwest,Missouri,St. Louis,Women's Athletic Footwear,$29.00,65,"$1,885",NaN,55%,Online
4644,Foot Locker,1185732,5/22/2021,South,Tennessee,Knoxville,Men's Athletic Footwear,$23.00,70,NaN,$660,41%,Outlet
5193,West Gear,1128299,6/17/2021,South,Louisiana,New Orleans,Men's Apparel,NaN,450,"$427,500","$192,375",45%,Online
5504,Foot Locker,1185732,7/4/2021,Midwest,Nebraska,Omaha,Women's Street Footwear,$36.00,52,"$1,872",NaN,48%,Online
5964,Sports Direct,1185732,7/20/2021,Northeast,Maryland,Baltimore,Women's Athletic Footwear,$36.00,45,NaN,$761,47%,Online
6096,Foot Locker,1185732,7/26/2021,Midwest,Illinois,Chicago,Women's Street Footwear,$48.00,39,"$1,872",NaN,45%,Online
6216,Kohl's,1185732,8/7/2021,Northeast,New Jersey,Newark,Women's Athletic Footwear,$36.00,52,"$1,872",NaN,51%,Online
6724,Sports Direct,1197831,8/23/2021,South,Alabama,Birmingham,Men's Apparel,$25.00,NaN,"$68,750","$27,500",40%,Outlet
6859,Sports Direct,1185732,9/3/2021,Northeast,Connecticut,Hartford,Women's Athletic Footwear,$41.00,46,"$1,886",NaN,45%,Online
6885,West Gear,1185732,9/4/2021,Midwest,Wisconsin,Milwaukee,Men's Athletic Footwear,$29.00,65,"$1,885",NaN,45%,Online
7207,Sports Direct,1197831,9/14/2021,South,Texas,Dallas,Men's Apparel,$50.00,NaN,"$250,000","$75,000",30%,Outlet
7281,West Gear,1185732,9/18/2021,NaN,West Virginia,Charleston,Women's Street Footwear,$24.00,68,"$1,632",$881,54%,Online
7895,Kohl's,1197831,10/14/2021,Midwest,Kansas,Wichita,Men's Athletic Footwear,$19.00,85,NaN,$743,46%,Online
8052,Amazon,1185732,10/19/2021,Northeast,Maine,Portland,Women's Street Footwear,$52.00,31,NaN,$887,55%,Online
8473,Foot Locker,1185732,11/10/2021,Northeast,Pennsylvania,Philadelphia,Men's Athletic Footwear,$37.00,51,"$1,887",NaN,32%,Outlet
9642,Amazon,1185732,12/31/2021,NaN,Maine,Portland,Men's Apparel,$52.00,36,"$1,872",$693,37%,Online
9647,Foot Locker,1185732,NaN,Northeast,Connecticut,Hartford,Women's Apparel,$26.00,72,"$1,872",NaN,47%,Outlet

In [ ]:
sales.nunique() # get unique value information

Retailer              6
RetailerID            4
InvoiceDate         724
Region                5
State                50
City                 52
Product               6
PriceperUnit         95
UnitsSold           361
TotalSales         3134
OperatingProfit    4183
OperatingMargin      66
SalesMethod           3
dtype: int64

In [ ]:
# Turn each of the objects into floats so they can be worked with
floatConvert = ["PriceperUnit", "UnitsSold", "TotalSales", "OperatingProfit"]
for col in floatConvert:
    sales[col] = sales[col].astype(str).str.strip().str.replace("$", "", regex=False)
    sales[col] = sales[col].astype(str).str.strip().str.replace(",", "", regex=False)
    sales[col] = pd.to_numeric(sales[col], errors="coerce")

In [30]:
# Turn Operating Margin to percent so it can be worked with
sales["OperatingMargin"] = sales["OperatingMargin"].str.strip("%").astype("float") / 100

In [32]:
sales["PriceperUnit"] = sales["PriceperUnit"].fillna(sales["TotalSales"] / sales["UnitsSold"])
sales["UnitsSold"] = sales["UnitsSold"].fillna(sales["TotalSales"] / sales["PriceperUnit"])
sales["TotalSales"] = sales["TotalSales"].fillna(sales["PriceperUnit"] * sales["UnitsSold"])
sales["OperatingProfit"] = sales["OperatingProfit"].fillna(sales["TotalSales"] * sales["OperatingMargin"]).round(decimals = 0)