In [25]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
sales = pd.read_csv("AdidasUSSalesData.csv") # import dataframe
sales.columns = sales.columns.str.replace(" ", "") # delete spaces

In [10]:
# Turn each of the objects into floats so they can be worked with
floatConvert = ["PriceperUnit", "UnitsSold", "TotalSales", "OperatingProfit"]
for col in floatConvert:
    sales[col] = sales[col].astype(str).str.strip().str.replace("$", "", regex=False)
    sales[col] = sales[col].astype(str).str.strip().str.replace(",", "", regex=False)
    sales[col] = pd.to_numeric(sales[col], errors="coerce")

In [12]:
sales["PriceperUnit"] = sales["PriceperUnit"].fillna(sales["TotalSales"] / sales["UnitsSold"])
sales["UnitsSold"] = sales["UnitsSold"].fillna(sales["TotalSales"] / sales["PriceperUnit"])
sales["TotalSales"] = sales["TotalSales"].fillna(sales["PriceperUnit"] * sales["UnitsSold"])
sales["OperatingProfit"] = sales["OperatingProfit"].fillna(sales["TotalSales"] * sales["OperatingMargin"]).round(decimals = 0)

In [11]:
# Turn Operating Margin to percent so it can be worked with
sales["OperatingMargin"] = sales["OperatingMargin"].str.strip("%").astype("float") / 100

In [22]:
# View null rows
null_rows = sales[sales.isna().any(axis=1)]
null_rows

,Retailer,RetailerID,InvoiceDate,Region,State,City,Product,PriceperUnit,UnitsSold,TotalSales,OperatingProfit,OperatingMargin,SalesMethod
9647,Foot Locker,1185732,NaN,Northeast,Connecticut,Hartford,Women's Apparel,26.0,72.0,1872.0,880.0,0.47,Outlet

In [24]:
# Check specific rows for nulls
#sales.iloc[954] # Price Per Unit
#sales.iloc[485] # Units Sold
#sales.iloc[2228] # Total Sales
#sales.iloc[1898] # Operating Profit

Retailer                 Walmart
RetailerID               1197831
InvoiceDate             9/9/2020
Region                     South
State                      Texas
City                     Houston
Product            Men's Apparel
PriceperUnit               450.0
UnitsSold                  625.0
TotalSales              281250.0
OperatingProfit          84375.0
OperatingMargin              0.3
SalesMethod               Outlet
Name: 954, dtype: object

In [21]:
# Updating regions where they are null
sales.loc[2168, "Region"] = "Midwest" # South Dakota
sales.loc[2705, "Region"] = "Northeast" # Connecticut
sales.loc[3621, "Region"] = "Midwest" # South Dakota
sales.loc[7281, "Region"] = "South" # West Virginia
sales.loc[9642, "Region"] = "Northeast" # Maine